* {
    /* border: 1px solid red;
    padding: none; */
    /* box-sizing: border-box; */
}

.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    top: 0;
    justify-content: space-between;


}

.header__logo {
    width: 100px;
    margin: 1rem 1rem 0 1rem;
}


.header__search {
    display: flex;
    background-color: orange;
    align-items: center;
    color: black;
    border-radius: 3px;
    padding-right: 0.5rem;
    outline: none;
}

.header__searc--input {
    width: 60vw;
    height: 12px;
    padding: 10px;
    border: none;
    margin-right: 0.5rem;
    outline: none;
    border-radius: 3px;


}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin: 0 3rem;

}

.header__nav--link {
    display: flex;
    flex-direction: column;
    /* padding: 0 5px; */

}

.header__nav--link-shop {
    margin-top: 0.5rem;
}

.header__nav--link-cart {
    display: none;
}